
html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: darkslategrey;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.home-div {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    margin: 4em;
    border-radius: 10px;
    background: #f5f5f5;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.logo-container {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    padding: 1em;
    margin: 2em;
}

.button-pad {
    padding: 1em;
    display: flex;
    align-content: center;
    justify-content: center;
}

.left-align {
    font-size: x-large;
    text-align: left;
    margin-left: 3em;
}

h1 {
    text-align: center;
    font-size: x-large;
    margin: 2em;
}

h2 {
    text-align: center;
    font-size: large;
}

h3 {
    text-align: center;
}

hr {
    color: darkslategray;
    border-style: solid;
    border-width: 1px;
    width: 80%;
    margin-top: 3em;
    margin-bottom: 3em;
}

label {
    text-align: center;
    font-size: xx-large;
    padding: 2em;
}

p {
    text-align: center;
    font-size: large;
    padding: 1em;
}

li {
    font-size: large;
    padding: 1em;
    margin: 1em;
}


button {
    text-align: center;
    font-size: 1em;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.transport {
    display: flex;
    justify-content: center;
    gap: 1em;
    color: white;
    border: none;
}

.language-scala {
    padding: 0.7em;
    display: flex;
    justify-content: center;
    gap: 1em;
    color: darkred;
    border: none;
    font-size: 1.2em;

}
